<div class="grid">
    <div class="row no-gutters">
        <div class="col l-2 m-2 c-0">
            {{> sidebar}}
        </div> 
        <div class="col l-7 m-10 c-12">
            <div class="action-bar">
                <div class="checkbox-group">
                    <input type="checkbox" id="choose-all">
                    <label for="choose-all">Chọn</label>
                </div>
                <button class="action-btn" id="upload-folder-btn">
                    Tải lên thư mục
                </button>
                <button class="action-btn" id="upload-btn">
                    Tải lên
                </button>
                <button class="action-btn">
                    Xóa
                </button>
                <button class="action-btn">
                    Di chuyển
                </button>
                <button class="action-btn" id="create-folder-btn">
                    Tạo thư mục
                </button>
            </div>
            <div class="filter-bar">
                <select name="document-type" class="filter-select">
                    <option value="" selected>--Loại tài liệu--</option>
                </select>
                <select name="sort" id="" class="filter-select">
                    <option value="sort-date" selected>Sắp xếp theo ngày</option>
                </select>
                <input type="text" class="find-input" placeholder="Từ ngày">
                <input type="text" class="find-input" placeholder="Đến ngày">
                <input type="text" class="find-input" placeholder="Tìm theo tên, mô tả">
                <button class="action-btn">Tìm</button>
            </div>
            {{> folderList folderList=folderList}}
            {{> fileList fileList=fileList}}
            
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-overlay">
        <form method="POST" action="/files/action/upload" enctype="multipart/form-data" class="upload-file-form standard-form">
            <h2 class="form-header">Upload tài liệu</h2>
            <div class="form-quit"><i class="fa-solid fa-xmark"></i></div>
            <div class="drop-container" id="drop-container">
                Kéo file vào đây
            </div>
            <input type="file" name="file" id="upload-file-input" multiple>
            <table class="table upload-file-table hidden">
                <tr>
                    <th>Tên tài liệu</th>
                    <th>Loại tài liệu</th>
                    <th>Kích thước</th>
                    <th>
                        <input type="checkbox" id="deleteAll">
                        <label for="deleteAll">Xóa</label>
                    </th>
                </tr>

            </table>
            <input type="text" style="display: none" name="parentId" value="{{currentFolderId}}">
            <div class="form-btn-group">
                <label for="upload-file-input" class="custom-file-upload">Tải thêm</label>
                <button class="action-btn submit-upload-btn">Lưu lại</button>
                <button class="action-btn" id="cancel-btn">Hủy</button>
            </div>
        </form>
    </div>
</div>




<form method="POST" class="post-form">
    <input type="text" style="display: none" name="curFolderId" value="{{currentFolderId}}">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let uploadBtn = $('.action-btn#upload-btn')
        let uploadFileForm = $('.upload-file-form')
        let cancelBtn = $('.action-btn#cancel-btn')
        let formQuit = $('.form-quit')
        let dropContainer = document.querySelector('.drop-container')
        let uploadFileTable = $('.upload-file-table')
        let fileInput = document.querySelector('#upload-file-input')
        let submitUploadBtn = $('submit-upload-btn')
        let postForm = $('.post-form')
        let curFolderIdInput = $('input[name="curFolderId"]')
        let folderList = $('.folder-list')
        
        let createFolderBtn = $('#create-folder-btn')
        let logoutBtn = $('.logout-btn')

        //----------------Handle event----------------

        //------ Handle upload file button and upload file form ---------
        uploadBtn.click(function(e){
            uploadFileForm.closest('.modal').addClass('active')
        })
        cancelBtn.click(function(e){
            e.preventDefault()
            dropContainer.style.display = 'block'
            fileInput.value = ''
            deleteAllRow('.upload-file-table')
            cancelBtn.closest('.modal').removeClass('active')
            uploadFileTable.addClass('hidden')
        })
        formQuit.click(function(e){
            e.preventDefault()
            dropContainer.style.display = 'block'
            fileInput.value = ''
            deleteAllRow('.upload-file-table')
            uploadFileForm.closest('.modal').removeClass('active')
            uploadFileTable.addClass('hidden')
        })
        dropContainer.ondragover = dropContainer.ondragenter = function(e) {
            e.preventDefault();
        }
        dropContainer.ondrop = function(e) {
            e.preventDefault();
            fileInput.files = e.dataTransfer.files;
            if(fileInput.files){
                dropContainer.style.display = 'none'
                renderUploadTable(fileInput)
                uploadFileTable.removeClass('hidden')
            }
        }
        fileInput.onchange = function(e) {
            if(fileInput.files){
                dropContainer.style.display = 'none'
                renderUploadTable(fileInput)
                uploadFileTable.removeClass('hidden')
            }
        }

        // --------- Handle logout
        logoutBtn.click(function(e){
            logout()
            alert('Bạn đã đăng xuất thành công')
        })
        //------- Handle upload folder button and upload folder form --------
        createFolderBtn.click(function(e){
            postForm.attr('action','/folders/action/create')
            postForm.submit()
        })

        //--------
        folderList.dblclick(function(e){
            if(!e.target.closest('.action-btn')  && !e.target.closest('.folder-file-name')){
                const folderItem = e.target.closest('.folder')
                window.location.href = '/folders/' + folderItem.dataset.slug
            }
        }) 


        function renderUploadTable(fileInput){
           for( var i = 0; i < fileInput.files.length; i++) {
                const newRow = $(`<tr>`)
                newRow.append(`<td>${fileInput.files[i].name}</td>`)
                newRow.append(`<td>${fileInput.files[i].type}</td>`)
                newRow.append(`<td>${Math.round(fileInput.files[i].size/1024)}KB</td>`)
                newRow.append(`<td><input type="checkbox" name="uploadfileIds[]"></td>`)
                uploadFileTable.append(newRow)
           }
        }

        function deleteAllRow(selector){
            $(`${selector} tr:not(:first)`).remove()
        }

        function logout() {
            deleteCookie("token");
            window.location.href = "/login";
        }
        function deleteCookie(cookieName) {
            document.cookie = cookieName + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }


    })
</script>