<div class="grid">
    <div class="row sm-gutter">
        <div class="col l-2">
            <div class="sidebar">
                <div class="user">
                    <div class="user-information">
                        <img src="/imgs/avatar-user.png" class="user-avatar" alt="..">
                        <div class="user-text">
                            <div class="user-name">
                                Trịnh Văn Hân
                            </div>
                            <div class="user-postion">
                                Nhân viên
                            </div>
                            <div class="user-department">
                                IT
                            </div>
                        </div>
                    </div>
                    <div class="user-message">
                        <i class="fa-solid fa-envelope"></i> Tin nhắn
                    </div>
                    <div class="user-notification">
                        <i class="fa-solid fa-bell"></i> Thông báo
                    </div>
                </div>
                <div class="category">
                    <div class="category-article">
                        <label for="checkbox-1" class="category-article-title">
                            <i class="fa-solid fa-caret-right"></i>
                            Quản lý công việc
                        </label>
                        <input type="checkbox" id="checkbox-1" class="checkbox">
                        <div class="category-article-list">
                                <a href="" class="category-article-item">Tài liệu của tôi</a>
                                <a href="" class="category-article-item">Chia sẻ</a>
                        </div>
                    </div>
                    <div class="category-article">
                        <label for="checkbox-2" class="category-article-title">
                            <i class="fa-solid fa-caret-right"></i>
                            Quản lý tài liệu
                        </label>
                        <input type="checkbox" id="checkbox-2" class="checkbox">
                        <div class="category-article-list">
                                <a href="" class="category-article-item">Tài liệu của tôi</a>
                                <a href="" class="category-article-item">Chia sẻ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l-7">
            <div class="action-bar">
                <div class="checkbox-group">
                    <input type="checkbox" id="choose-all">
                    <label for="choose-all">Chọn</label>
                </div>
                <button class="action-btn">
                    Tải lên thư mục
                </button>
                <button class="action-btn" id="upload-btn">
                    Tải lên
                </button>
                <button class="action-btn">
                    Xóa
                </button>
                <button class="action-btn">
                    Di chuyển
                </button>
            </div>
            <div class="filter-bar">
                <select name="document-type" class="filter-select">
                    <option value="" selected>--Loại tài liệu--</option>
                </select>
                <select name="sort" id="" class="filter-select">
                    <option value="sort-date" selected>Sắp xếp theo ngày</option>
                </select>
                <input type="text" class="find-input" placeholder="Từ ngày">
                <input type="text" class="find-input" placeholder="Đến ngày">
                <input type="text" class="find-input" placeholder="Tìm theo tên, mô tả">
                <button class="action-btn">Tìm</button>
            </div>
            <ul class="list-folder">
                <li class="folder">
                    <div class="checkbox-folder">
                        <input type="checkbox" id="choose-folder">
                        <label for="choose-folder">
                            <img src="/imgs/folder.png" alt="">
                        </label>
                    </div>
                    <div class="folder-information">
                        <p class="folder-name">Tên thư mục</p>
                        <p class="folder-description">Hiện có: 0 thư mục 0 tệp</p>
                        <p class="folder-description">Tài khoản: Trịnh Văn Hân</p>
                    </div>
                    <div class="folder-operation">
                        <a href="">Tải về</a>
                        <a href="">Xem</a>
                        <a href="">Sửa</a>
                        <a href="">Xóa</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{!-- fileInput.onchange = function(e){
            const selectedFiles = e.target.files
            if(selectedFiles){
                console.log(fileInput.value)
                dropContainer.style.display = 'none'
                renderUploadTable(fileInput)
                uploadFileTable.removeClass('hidden')
            }
        } --}}
<div class="modal">
    <div class="modal-overlay">
        <form method="POST" action="/files/action/upload" enctype="multipart/form-data" class="upload-file-form standard-form">
            <h2 class="form-header">Upload tài liệu</h2>
            <div class="form-quit"><i class="fa-solid fa-xmark"></i></div>
            <div class="drop-container" id="drop-container">
                Kéo file vào đây
            </div>
            <input type="file" name="file" id="upload-file-input" multiple>
            <table class="table upload-file-table hidden">
                <tr>
                    <th>Tên tài liệu</th>
                    <th>Loại tài liệu</th>
                    <th>Kích thước</th>
                    <th>
                        <input type="checkbox" id="deleteAll">
                        <label for="deleteAll">Xóa</label>
                    </th>
                </tr>

            </table>
            <div class="form-login-btn-group">
                <label for="upload-file-input" class="custom-file-upload">Tải thêm</label>
                <button type="submit" class="action-btn">Lưu lại</button>
                <button class="action-btn" id="cancel-btn">Hủy</button>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let uploadBtn = $('.action-btn#upload-btn')
        let uploadFileForm = $('.upload-file-form')
        let cancelBtn = $('.action-btn#cancel-btn')
        let formQuit = $('.form-quit')
        let dropContainer = document.querySelector('.drop-container')
        let uploadFileTable = $('.upload-file-table')
        let fileInput = document.querySelector('#upload-file-input')
        //----------------Handle event----------------
        
        // Handle upload file button and upload file form

        uploadBtn.click(function(e){
            uploadFileForm.closest('.modal').addClass('active')
        })
        cancelBtn.click(function(e){
            e.preventDefault()
            dropContainer.style.display = 'block'
            fileInput.value = ''
            deleteAllRow('.upload-file-table')
            cancelBtn.closest('.modal').removeClass('active')
            uploadFileTable.addClass('hidden')
        })
        formQuit.click(function(e){
            e.preventDefault()
            dropContainer.style.display = 'block'
            fileInput.value = ''
            deleteAllRow('.upload-file-table')
            uploadFileForm.closest('.modal').removeClass('active')
            uploadFileTable.addClass('hidden')
        })
        dropContainer.ondragover = dropContainer.ondragenter = function(e) {
            e.preventDefault();
        }
        fileInput.onchange = dropContainer.ondrop = function(e) {
            e.preventDefault();
            fileInput.files = e.dataTransfer.files;
            if(fileInput.files){
                dropContainer.style.display = 'none'
                renderUploadTable(fileInput)
                uploadFileTable.removeClass('hidden')
            }
        }
        

        function renderUploadTable(fileInput){
           for( var i = 0; i < fileInput.files.length; i++) {
                const newRow = $(`<tr>`)
                newRow.append(`<td>${fileInput.files[i].name}</td>`)
                newRow.append(`<td>${fileInput.files[i].type}</td>`)
                newRow.append(`<td>${Math.round(fileInput.files[i].size/1024)}KB</td>`)
                newRow.append(`<td><input type="checkbox" name="uploadfileIds[]"></td>`)
                uploadFileTable.append(newRow)
           }
        }

        function deleteAllRow(selector){
            $(`${selector} tr:not(:first)`).remove()
        }

    })
</script>