<div class="grid">
    <div class="row no-gutters">
        <div class="col l-2 m-2 c-0">
            {{> sidebar rootId=rootId user=user}}
        </div>
        <div class="col l-7 m-7 c-8">
            {{#switch renderValue}}
            {{#case 'showList'}}
            <div class="action-bar">
                <div class="checkbox-group">
                    <input type="checkbox" id="choose-all">
                    <label for="choose-all">Chọn tất cả </label>
                </div>
                <button class="action-btn" id="upload-btn">
                    <i class="fa-solid fa-upload"></i>
                </button>
                <button class="action-btn" id="create-folder-btn">
                    <i class="fa-solid fa-folder-plus"></i>
                </button>
                <button class="action-btn multi-btn" id="delete-btn" disabled>
                    <i class="fa-solid fa-trash-can"></i>
                </button>

            </div>
            <div class="filter-bar">
                <select name="document-type" class="filter-select">
                    <option disabled>--Loại tài liệu--</option>
                    <option value="administrative">Hành chính</option>
                    <opion value="report">Báo cáo</opion>
                    <option value="contract">Hợp đồng</option>
                    <option value="project">Dự án</option>
                </select>
                <select name="sort" id="" class="filter-select">
                    <option value="sort-date" selected>Sắp xếp theo ngày</option>
                </select>
                <input type="text" class="find-input" placeholder="Từ ngày">
                <input type="text" class="find-input" placeholder="Đến ngày">
                <input type="text" class="find-input" placeholder="Tìm theo tên, mô tả">
                <button class="action-btn"> <i class="fa-solid fa-magnifying-glass"></i></i></button>
            </div>
            <form class="action-form" method="POST">
                {{> folderList folderList=folderList}}
                {{> fileList fileList=fileList}}
            </form>
            {{/case}}

            {{#case 'preview'}}
            <iframe class="preview-iframe" src="{{iframeSrc}}" width="800" height="600" frameborder="0"></iframe>
            {{/case}}

            {{#case 'share'}}
            {{> share document=document generalShared=generalShared userShared=userShared
            departmentShared=departmentShared}}
            {{/case}}

            {{#case 'showShare'}}
            {{> showShare shareFiles=shareFiles shareFolders=shareFolders}}
            {{/case}}

            {{#case 'trash'}}
            <form class="action-form" method="POST">
                {{> folderList folderList=folderList}}
                {{> fileList fileList=fileList}}
            </form>
            {{/case}}

            {{#case 'affStaff'}}
            {{> staffFolderList folderList=staffFolder}}
            {{/case}}

            {{#case 'none'}}
            <img src="/imgs/txt.png" alt="">
            {{/case}}

            {{/switch}}
        </div>
        <div class="col l-3 m-3 c-4">
            {{#switch renderValue}}
            {{#case 'share'}}
            {{> sharedObject notSharedUsers=notSharedUsers notSharedDepartments=notSharedDepartments}}
            {{/case}}
            {{/switch}}
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-overlay">
        <form method="POST" action="/files/action/upload" enctype="multipart/form-data"
            class="upload-file-form standard-form">
            <h2 class="form-header">Upload tài liệu</h2>
            <div class="form-quit"><i class="fa-solid fa-xmark"></i></div>
            <div class="drop-container" id="drop-container">
                Kéo file vào đây
            </div>
            <input type="file" name="file" id="upload-file-input" multiple>
            <input type="file" style="display: none" class="cache" multiple>
            <table class="table upload-file-table hidden">
                <tr>
                    <th>Tên tài liệu</th>
                    <th>Loại tài liệu</th>
                    <th>Kích thước</th>
                    <th>
                        <label>Xóa</label>
                    </th>
                </tr>

            </table>
            <input type="text" style="display: none" name="parentId" value="{{currentFolderId}}">
            <div class="form-btn-group">
                <label for="upload-file-input" class="custom-action-label">Tải thêm</label>
                <button class="action-btn submit-upload-btn">Lưu lại</button>
                <button class="action-btn" id="cancel-btn">Hủy</button>
            </div>
        </form>
    </div>
</div>





<form method="POST" class="post-form">
    <input type="text" style="display: none" name="curFolderId" value="{{currentFolderId}}">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let uploadBtn = $('.action-btn#upload-btn')
        let uploadFileForm = $('.upload-file-form')
        let cancelBtn = $('.action-btn#cancel-btn')
        let formQuit = $('.form-quit')
        let dropContainer = document.querySelector('.drop-container')
        let uploadFileTable = $('.upload-file-table')
        let fileInput = document.querySelector('#upload-file-input')
        let submitUploadBtn = $('submit-upload-btn')
        let postForm = $('.post-form')
        let curFolderIdInput = $('input[name="curFolderId"]')
        let folderList = $('.folder-list.own')
        let fileList = $('.file-list.own')
        let staffFolderList = $('.folder-list.staff')
        let staffFileList = $('.file-list.staff')
        let createFolderBtn = $('#create-folder-btn')
        let logoutBtn = $('.logout-btn')
        let deleteBtn = $('.action-btn#delete-btn')
        let actionForm = document.querySelector('form.action-form')
        let filesCache = document.querySelector('input.cache').files
        //----------------Handle event----------------

        //------ Handle upload file button and upload file form ---------
        uploadBtn.click(function (e) {
            uploadFileForm.closest('.modal').addClass('active')
        })
        cancelBtn.click(function (e) {
            e.preventDefault()
            dropContainer.style.display = 'block'
            fileInput.value = ''
            deleteAllRow('.upload-file-table')
            cancelBtn.closest('.modal').removeClass('active')
            uploadFileTable.addClass('hidden')
        })
        formQuit.click(function (e) {
            e.preventDefault()
            dropContainer.style.display = 'block'
            fileInput.value = ''
            deleteAllRow('.upload-file-table')
            uploadFileForm.closest('.modal').removeClass('active')
            uploadFileTable.addClass('hidden')
        })
        dropContainer.ondragover = dropContainer.ondragenter = function (e) {
            e.preventDefault();
        }
        dropContainer.ondrop = function (e) {
            e.preventDefault();
            fileInput.files = e.dataTransfer.files;
            if (fileInput.files) {
                dropContainer.style.display = 'none'
                renderUploadTable(fileInput)
                uploadFileTable.removeClass('hidden')
            }
        }
        fileInput.onchange = function (e) {
            if (fileInput.files) {
                dropContainer.style.display = 'none'
                renderUploadTable(fileInput)
                uploadFileTable.removeClass('hidden')
            }
        }


        // --------- Handle logout
        logoutBtn.click(function (e) {
            logout()
            alert('Bạn đã đăng xuất thành công')
        })

        //------- Handle upload folder button and upload folder form --------
        createFolderBtn.click(function (e) {
            postForm.attr('action', '/folders/action/create')
            postForm.submit()
        })

        //--------
        folderList.dblclick(function (e) {
            if (!e.target.closest('.action-btn') && !e.target.closest('.folder-file-name')) {
                const folderItem = e.target.closest('.folder')
                window.location.href = '/folders/' + folderItem.dataset.id
            }
        })
        fileList.dblclick(function (e) {
            if (!e.target.closest('.action-btn') && !e.target.closest('.folder-file-name')) {
                const fileItem = e.target.closest('.file')
                window.location.href = '/files/' + fileItem.dataset.id
            }
        })

        staffFolderList.dblclick(function (e) {
            const folderItem = e.target.closest('.folder')
            window.location.href = '/folders/' + folderItem.dataset.id
        })

        staffFileList.dblclick(function (e) {
            if (!e.target.closest('.action-btn') && !e.target.closest('.folder-file-name')) {
                const fileItem = e.target.closest('.file')
                window.location.href = '/files/' + fileItem.dataset.id
            }
        })

        function concatFileLists(fileList1, fileList2) {
            const filesArray1 = Array.from(fileList1);
            const filesArray2 = Array.from(fileList2);

            const combinedFilesArray = filesArray1.concat(filesArray2);

            const combinedFileList = new DataTransfer();
            combinedFilesArray.forEach(file => {
                combinedFileList.items.add(file);
            })

            return combinedFileList.files;
        }

        function renderUploadTable(fileInput) {
            for (var i = 0; i < fileInput.files.length; i++) {
                const newRow = $(`<tr>`)
                newRow.append(`<td>${fileInput.files[i].name}</td>`)
                newRow.append(`<td>
                    <select name="documentType[]" class="form-select">
                        <option value="Hành chính" selected>Hành chính</option>
                        <option value="Báo cáo">Báo cáo</option>
                        <option value="Hợp đồng">Hợp đồng</option>
                        <option value="Dự án">Dự án</option>
                    </select>      
                </td>`)
                newRow.append(`<td>${Math.round(fileInput.files[i].size / 1024)}KB</td>`)
                newRow.append(`<td><i class="fa-solid fa-circle-xmark" color="red"></i></td>`)
                uploadFileTable.append(newRow)
            }
        }

        function deleteAllRow(selector) {
            $(`${selector} tr:not(:first)`).remove()
        }

        function logout() {
            deleteCookie("token");
            window.location.href = "/login";
        }
        function deleteCookie(cookieName) {
            document.cookie = cookieName + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }


        // ---------------Handle Action bar -------------------------
        let chooseAllCheckbox = $('#choose-all')
        let chooseFolderCheckboxes = $('input[name="folderIds[]"]')
        let chooseFileCheckboxes = $('input[name="fileIds[]"]')

        chooseAllCheckbox.change(function (e) {
            const isCheckedAll = $(this).prop('checked')
            chooseFileCheckboxes.prop('checked', isCheckedAll)
            chooseFolderCheckboxes.prop('checked', isCheckedAll)
            renderCheckMultiBtn()
        })
        chooseFileCheckboxes.change(function (e) {
            const isFileCheckedAll = chooseFileCheckboxes.length === $('input[name="fileIds[]"]:checked').length
            const isFolderCheckedAll = chooseFolderCheckboxes.length === $('input[name="folderIds[]"]:checked').length
            chooseAllCheckbox.prop('checked', isFileCheckedAll && isFolderCheckedAll)
            renderCheckMultiBtn()
        })
        chooseFolderCheckboxes.change(function (e) {
            const isFileCheckedAll = chooseFileCheckboxes.length === $('input[name="fileIds[]"]:checked').length
            const isFolderCheckedAll = chooseFolderCheckboxes.length === $('input[name="folderIds[]"]:checked').length
            chooseAllCheckbox.prop('checked', isFileCheckedAll && isFolderCheckedAll)
            renderCheckMultiBtn()
        })

        function renderCheckMultiBtn() {
            let checkedCount = $('input[name="fileIds[]"]:checked').length + $('input[name="folderIds[]"]:checked').length

            if (checkedCount > 0) {
                deleteBtn.prop('disabled', false)
            } else {
                deleteBtn.prop('disabled', true)
            }
        }

        deleteBtn.click(function (e) {
            actionForm.action = '/action/delete'
            actionForm.submit()
        })




        //-----------------Handle Share function ----------------------

        let shareUserList = $('.shared-user-list')
        let shareDepartmentList = $('.shared-department-list')
        let readyUserList = $('ul.shared-objects-list.ready-users')
        let readyDepartmentList = $('ul.shared-objects-list.ready-departments')

        shareUserList.on('click', '.shared-user-remove', function (e) {
            const sharedUser = e.target.closest('.shared-user')
            const user = $(`
                <li class="shared-objects-item ready-user">
                    <input type="text" class="ready-user-id" style="display: none" 
                       data-id="${sharedUser.querySelector('input.shared-user-id').value}" 
                       data-role="${sharedUser.querySelectorAll('p.shared-user-information')[1].innerText.slice(10)}">
                    <div class="shared-objects-item-info">
                        <h2>${sharedUser.querySelector('p.shared-user-name').innerText}</h2>
                        <p>${sharedUser.querySelectorAll('p.shared-user-information')[0].innerText}</p>
                    </div>
                    <i class="fa-solid fa-square-plus shared-user-add"></i>
                </li>
            `)
            readyUserList.append(user)
            sharedUser.remove()
        })

        shareDepartmentList.on('click', '.shared-department-remove', function (e) {
            const sharedDepartment = e.target.closest('.shared-department')
            const department = $(`
                <li class="shared-objects-item ready-departments">
                    <div class="shared-objects-item-info">
                        <h2>${sharedDepartment.querySelector('p.shared-department-name').innerText.toLowerCase()}</h2>
                    </div>
                    <i class="fa-solid fa-square-plus shared-department-add"></i>
                </li>
            `)
            readyDepartmentList.append(department)
            sharedDepartment.remove()
        })

        readyUserList.on('click', '.shared-user-add', function (e) {
            const readyUser = e.target.closest('.shared-objects-item')
            const user = $(`
                <div class="shared-user">
                    <input class="shared-user-id" type="text" style="display: none" 
                            value="${readyUser.querySelector('input').getAttribute('data-id')}">
                    <div class="shared-user-info">
                        <p class="shared-user-name">
                            ${readyUser.querySelector('h2').innerText}
                        </p>
                        <p class="shared-user-information">
                            ${readyUser.querySelector('p').innerText}
                        </p>
                        <p class="shared-user-information">
                            Chức vụ: ${readyUser.querySelector('input').getAttribute('data-role')}
                        </p>
                    </div>
                    <div class="share-permission">
                        <p class="share-permission-heading">Chia sẻ</p>
                        <ul class="share-permission-list">
                            <li class="share-permission-item">
                                <input type="checkbox" class="user-permission-checkbox" value="preview">
                                <label for="preview-checkbox">Xem</label>
                            </li>
                            <li class="share-permission-item">
                                <input type="checkbox" class="user-permission-checkbox" value="delete">
                                <label for="delete-checkbox">Xóa</label>
                            </li>
                            <li class="share-permission-item">
                                <input type="checkbox" class="user-permission-checkbox" value="download">
                                <label for="download-checkbox">Tải về</label>
                            </li>
                            <li class="share-permission-item">
                                <input type="checkbox" class="user-all-checkbox">
                                <label>Tất cả</label>
                            </li>
                        </ul>
                    </div>
                    <i class="fa-solid fa-circle-minus shared-user-remove"></i>
                </div>
            `)
            shareUserList.append(user)
            readyUser.remove()
        })

        readyDepartmentList.on('click', '.shared-department-add', function (e) {
            const readyDepartment = e.target.closest('.shared-objects-item')
            const department = $(`
                <div class="shared-department">
                    <div class="shared-department-info">
                        <p class="shared-department-name">
                            ${readyDepartment.querySelector('h2').innerText.toUpperCase()}
                        </p>
                    </div>
                    <div class="share-permission">
                        <p class="share-permission-heading">Chia sẻ</p>
                        <ul class="share-permission-list">
                            <li class="share-permission-item">
                                <input type="checkbox" class="department-permission-checkbox" value="preview">
                                <label for="preview-checkbox">Xem</label>
                            </li>
                            <li class="share-permission-item">
                                <input type="checkbox" class="department-permission-checkbox" value="delete">
                                <label for="delete-checkbox">Xóa</label>
                            </li>
                            <li class="share-permission-item">
                                <input type="checkbox" class="department-permission-checkbox" value="download">
                                <label for="download-checkbox">Tải về</label>
                            </li>
                            <li class="share-permission-item">
                                <input type="checkbox" class="department-all-checkbox">
                                <label>Tất cả</label>
                            </li>
                        </ul>
                    </div>
                    <i class="fa-solid fa-circle-minus shared-department-remove"></i>
                </div>
            `)
            shareDepartmentList.append(department)
            readyDepartment.remove()
        })

    })
</script>