<div class="modal " id="exampleModal" tabindex="-1">
  <div class="modal-overlay">
    <div class="standard-form">
      <h1 style="font-size: 2rem">Đăng xuất</h1>
      <p>Bạn có chắc chắn muốn đăng xuất?</p>
      <div class="form-login-btn-group">
        <button class="action-btn">Đăng xuất</button>
        <button type="button" class="action-btn">Hủy</button>
      </div>
    </div>
    
  </div>
</div>