<ul class="folder-list">
    {{#each folderList}}
    <li class="folder" data-id="{{this._id}}">
        <div class="checkbox-folder-file">
            <input type="checkbox" id="choose-folder-file[]">
            <label for="choose-folder-file[]">
                <img src="/imgs/folder.png" alt="">
            </label>
        </div>
        <div class="folder-file-information">
            <p class="folder-file-name">{{this.name}}</p>
            <p class="folder-file-description">Hiện có: {{this.folder_childs.length}} thư mục, {{this.file_childs.length}} tệp</p>
        </div>
        <div class="folder-file-operation">
            <a href="">Tải về</a>
            <a href="">Xem</a>
            <a href="">Sửa</a>
            <a href="">Xóa</a>
            <a href="">Thao tác khác</a>
        </div>
    </li>
    {{/each}}
</ul>