<h1 class="header-title">HỆ THỐNG QUẢN LÝ TÀI LIỆU</h1>
<div class="nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="" class="nav-item-link">Trang chủ</a>
        </li>
        <li class="nav-item">
            <div class="nav-item-search">
                <input type="text" class="nav-item-search-input" placeholder="Từ khóa tìm kiếm ...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </li>
    </ul>
</div>