<div class="sidebar">
    <div class="user">
        <div class="user-information">
            <img src="/imgs/avatar-user.png" class="user-avatar" alt="..">
            <div class="user-text">
                <div class="user-name">
                    {{username}}
                </div>
                <div class="user-postion">
                    Nhân viên
                </div>
                <div class="user-department">
                    IT
                </div>
            </div>
        </div>
        <a class="user-page" href="/user">
            <i class="fa-solid fa-user"></i> Trang cá nhân
        </a>
        <label class="user-logout" for="logout-checkbox">
            <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
        </label>
        <input type="checkbox" id="logout-checkbox" style="display: none">
        <div class="modal " tabindex="-1"> 
            <div class="modal-overlay">
                <div class="standard-form">
                <h1 style="font-size: 2rem; margin-bottom: 12px">Đăng xuất</h1>
                <p style="font-size: 1.6rem">Bạn có chắc chắn muốn đăng xuất?</p>
                <div class="form-btn-group">
                    <button class="action-btn logout-btn">Đăng xuất</button>
                    <label type="button" class="custom-action-label" for="logout-checkbox" style="line-height: 30px; font-size: 1.4rem">Hủy</label>
                </div>
                </div>
            </div>
        </div>

        <div class="user-message">
            <i class="fa-solid fa-envelope"></i> Tin nhắn
        </div>
        <div class="user-notification">
            <i class="fa-solid fa-bell"></i> Thông báo
        </div>
    </div>
    <div class="category">
        <div class="category-article">
            <label for="checkbox-2" class="category-article-title">
                <i class="fa-solid fa-caret-right"></i>
                Quản lý tài liệu
            </label>
            <input type="checkbox" id="checkbox-2" class="checkbox">
            <div class="category-article-list">
                    <a href="/folders/{{rootFolderSlug}}" class="category-article-item">Tài liệu của tôi</a>
                    <a href="" class="category-article-item">Chia sẻ</a>
            </div>
        </div>
    </div>
</div>