<div class="sidebar">
    <div class="user">
        <div class="user-information">
            <img src="/imgs/avatar-user.png" class="user-avatar" alt="..">
            <div class="user-text">
                <div class="user-name">
                    {{user.username}}
                </div>
                <div class="user-postion">
                    {{iser.role}}
                </div>
                <div class="user-department">
                    {{user.department}}
                </div>
            </div>
        </div>
        <a class="user-page" href="/user">
            <i class="fa-solid fa-user"></i> Trang cá nhân
        </a>
        <label class="user-logout" for="logout-checkbox">
            <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
        </label>
        <input type="checkbox" id="logout-checkbox" style="display: none">
        <div class="modal " tabindex="-1"> 
            <div class="modal-overlay">
                <div class="standard-form">
                <h1 style="font-size: 2rem; margin-bottom: 12px">Đăng xuất</h1>
                <p style="font-size: 1.6rem">Bạn có chắc chắn muốn đăng xuất?</p>
                <div class="form-btn-group">
                    <button class="action-btn logout-btn">Đăng xuất</button>
                    <label type="button" class="custom-action-label" for="logout-checkbox" style="line-height: 30px; font-size: 1.4rem">Hủy</label>
                </div>
                </div>
            </div>
        </div>

        <div class="user-message">
            <i class="fa-solid fa-envelope"></i> Tin nhắn
        </div>
        <div class="user-notification">
            <i class="fa-solid fa-bell"></i> Thông báo
        </div>
    </div>
    <div class="category">
        <div class="category-article">
            <label for="category-checkbox" class="category-article-title">
                <i class="fa-solid fa-caret-right"></i>
                Quản lý tài liệu
            </label>
            <input type="checkbox" id="category-checkbox" class="checkbox">
            <div class="category-article-list">
                    <a href="/folders/{{rootId}}" class="category-article-item">Tài liệu của tôi  <i class="fa-solid fa-folder"></i></a>
                    <label for="checkbox" class="category-article-item category-share">Chia sẻ  <i class="fa-solid fa-share-from-square"></i></label>
                    <input type="checkbox" id="checkbox" class="checkbox">
                    <div class="category-share-list">
                        <a href="/share/general">Chia sẻ chung  <i class="fa-solid fa-users"></i></a>
                        <a href="/share/user">Từ người dùng  <i class="fa-solid fa-user"></i></a>
                        <a href="/share/department">Từ phòng ban  <i class="fa-solid fa-building"></i></a>
                    </div>
                    <a href="/trash" class="category-article-item">Thùng rác  <i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
    </div>
</div>