* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

html {
  font-size: 62.5%; }

.standard-form {
  width: 300px;
  position: relative;
  margin: auto;
  --growth-from: 0.7;
  --growth-to: 1;
  animation: growth linear 0.1s;
  background-color: white;
  border: 1px solid black; }

.table {
  border-collapse: collapse;
  width: 100%; }

.table tr:first-child {
  border-bottom: 2px solid #4e4c4c; }

.table tr {
  border-bottom: 1px solid #717070;
  display: flex; }

.table tr th, td {
  width: 120px;
  margin: 0px 4px;
  line-height: 30px;
  height: 30px;
  font-size: 1.8rem;
  text-align: center;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }

.table tr th:first-child, td:first-child {
  width: 200px; }

.table.hidden {
  display: none; }

@keyframes dropdown {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(100%); } }

.header {
  background-color: #8dcbe5;
  padding: 0px 50px 10px; }

.container {
  width: 100%;
  display: block; }

.header-title {
  color: #710c0c;
  font-size: 2rem;
  line-height: 40px; }

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.nav-item:last-child {
  margin-left: auto; }

.nav-item-link {
  font-size: 1.8rem;
  text-decoration: none;
  margin: auto 4px; }

.nav-item:first-child .nav-item-link {
  font-size: 1.8rem;
  margin-right: 16px;
  color: black; }

.nav-item-link i {
  font-size: 1.4rem; }

.nav-item-search {
  position: relative;
  background-color: white;
  display: block;
  height: 30px;
  border-radius: 15px;
  padding-left: 8px;
  overflow: hidden; }

.nav-item-search-input {
  height: 30px;
  border: none;
  outline: none;
  font-size: 1.6rem; }

.nav-item-search i {
  position: absolute;
  font-size: 1.6rem;
  top: 6px;
  right: 8px; }

.sidebar {
  background-color: #a9bfc4;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; }

.user {
  margin: 20px;
  display: flex;
  flex-direction: column; }

.user-information {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 16px; }

.user-avatar {
  margin-right: 10px;
  width: 50px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.user-text {
  display: flex;
  flex-direction: column; }

.user-name {
  font-size: 1.6rem;
  line-height: 20px; }

.user-postion {
  font-size: 1.6rem;
  line-height: 20px; }

.user-department {
  font-size: 1.6rem;
  line-height: 20px; }

.user-page {
  font-size: 1.6rem;
  line-height: 20px;
  margin: 4px; }

.user-page i {
  font-size: 1.4rem;
  color: white; }

.user-logout {
  margin: 4px;
  font-size: 1.6rem;
  line-height: 20px; }

.user-logout i {
  font-size: 1.4rem;
  color: white; }

#logout-checkbox:checked ~ .modal {
  display: block; }

.user-message {
  font-size: 1.6rem;
  line-height: 20px;
  margin: 4px; }

.user-message i {
  font-size: 1.4rem;
  color: white; }

.user-notification {
  font-size: 1.6rem;
  line-height: 20px;
  margin: 4px; }

.user-notification i {
  font-size: 1.6rem;
  color: white; }

.category {
  overflow: hidden; }

.category-article-title {
  line-height: 40px;
  font-size: 1.6rem;
  display: block;
  background-color: #0954e0;
  color: white;
  padding-left: 20px; }

.category-article-list {
  display: none; }

.category-article-item {
  background-color: #6482e6;
  height: 40px;
  border-bottom: 2px solid #297bbe;
  color: white;
  font-size: 1.8rem;
  line-height: 40px;
  padding-left: 40px;
  text-decoration: none;
  display: block; }

.category-share-list {
  background-color: #22a8c6;
  display: flex;
  flex-direction: column;
  display: none; }

#checkbox:checked ~ .category-share-list {
  display: block; }

.category-share-list a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  line-height: 30px;
  padding-left: 60px;
  display: block;
  width: 100%;
  height: 100%; }

.category-share-list a:hover {
  background-color: #17889f;
  cursor: pointer; }

.category-article-item:hover {
  background-color: #5f72b7;
  cursor: pointer; }

.category-article-item:last-child {
  border: none; }

.checkbox {
  display: none; }

.category-article .checkbox:checked ~ .category-article-list {
  display: block; }

.action-bar {
  display: flex;
  height: 40px;
  align-items: center;
  background-color: #ccc; }

.checkbox-group {
  display: block;
  margin-right: auto;
  margin-left: 10px; }

.checkbox-group label {
  font-size: 1.6rem; }

.action-btn {
  height: 30px;
  margin: 4px;
  padding: 0px 8px; }

.filter-bar {
  display: flex;
  align-items: center;
  background-color: #eee; }

.filter-select {
  height: 30px;
  font-size: 1.4rem;
  margin: 0px 4px;
  max-width: 150px; }

.filter-select:last-child {
  margin-right: auto; }

.find-input {
  height: 30px;
  font-size: 1.4rem;
  margin: 0px 4px;
  max-width: 150px;
  min-width: 0px; }

.upload-file-form.standard-form {
  width: 600px;
  padding: 0;
  position: relative; }

.form-quit {
  position: absolute;
  font-size: 1.8rem;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  top: 0px;
  right: 0px; }

.form-quit:hover {
  background-color: #c6c5c5; }

.form-header {
  text-align: center;
  line-height: 30px;
  font-size: 1.8rem;
  border-bottom: 5px solid #00d0ff; }

.drop-container {
  border: 3px dashed gray;
  height: 100px;
  margin: 10px 20px;
  font-size: 2.4rem;
  text-align: center;
  color: #989696;
  font-family: Arial, sans-serif; }

#upload-file-input {
  display: none; }

.custom-action-label {
  margin: 4px;
  padding: 0px 8px;
  font-size: 1.4rem;
  font-family: Arial;
  line-height: 30px;
  height: 30px;
  background-color: #efefef;
  border: 1px solid #202020;
  border-radius: 2px;
  color: black; }

.custom-action-label:hover {
  background-color: #e4e2e2;
  cursor: pointer; }

.preview-iframe {
  width: 100%;
  height: 100vh; }
