@keyframes growth {
  from {
    transform: scale(var(--growth-from)); }
  to {
    transform: scale(var(--growth-to)); } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  display: none; }

.modal.active {
  display: block; }

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.modal-overlay.modal-login {
  background-color: #b3d685 }

.login-img {
  height: 600px;
  width: 600px;
  margin: 50px; }

.standard-form {
  margin: 0;
  width: 450px;
  position: relative;
  --growth-from: 0.7;
  --growth-to: 1;
  animation: growth linear 0.1s;
  background-color: #d1dc8ebd;
  border: 1px solid black;
  padding: 20px 30px 7.5px; 
  }
  .standard-form.form-change-pass{
    animation: none;
    border-radius: 8px;
  }
.standard-form.form-login {
  animation: none;
  border-radius: 8px; }

.form-title {
  font-size: 1.8rem;
  text-decoration: bold;
  text-align: center;
  margin-bottom: 30px; 
}

.form-group {
  margin-bottom: 20px;
  position: relative; }

.form-group i {
  display: none;
  position: absolute;
  top: 8px;
  right: 4px;
  width: 30px;
  height: 24px;
  text-align: center;
  font-size: 1.3rem;
  color: #edf2f5; 
  padding-left: 10px;
}

.form-group i.active {
  display: block; }

.form-group i:hover {
  color: #353535;
  cursor: pointer; }

.form-label {
  font-size: 1.6rem;
    line-height: 25px;
    display: block;
    text-decoration: bold; }

.form-control {
    width: 100%;
    height: 56px;
    font-size: 1.9rem;
    border: 1px solid #808080;
    border-radius:8px
    
  }
    .form-control::placeholder {
      font-size: 1.9rem;
      color: #808080;
      padding-left: 10px;
      transition: font-size 0.5s, transform 0.5s;
    }
    
    .form-control:focus::placeholder,
    .form-control:not(:placeholder-shown)::placeholder {
      font-size: 1.3rem;
      transform: translateY(-100%) scale(0.8);
      transform-origin: left top;
    }
.form-select {
  width: 100%;
  height: 40px;
    font-size: 1.7rem;
    border: 1px solid #808080;
    border-radius:8px
}

.form-text {
  margin-top: 10px;
  text-align: left;
  font-size: 1.4rem; 
}
.form-text-passchange:hover{
  cursor: pointer;
  color: #ba6a02;
}
.form-btn-group {
  display: flex;
  justify-content: end;
  margin-top: 20px; }

.form-btn {
  text-align: center;
  font-size: 1.6rem;
  line-height: 24px;
  background-color: #057eff;
  color: white;
  border-radius: 6px;
  display: block;
  border: none;
  padding: 4px 10mm; }

.form-btn:hover {
  cursor: pointer;
  background-color: #024cba; }

.form-btn-cancel {
  background-color: #cdcccc;
  color: black;
  margin-left: 4px; }

.form-btn-cancel:hover {
  background-color: #9c9a9a; }

.form-message {
  font-size: 1.2rem;
  color: red;
  line-height: 16px; }
