<div class="modal active">
    <div class="modal-overlay">
        <form class="form-change-pass standard-form" method="POST" action="/login/change">
            <h1 class="form-title">ĐỔI MẬT KHẨU</h1>
            <div class="form-group">
                <label for="inputUsername" class="form-label">Tên đăng nhập</label>
                <input type="text" class="form-control" id="inputUsername" name="username">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="form-label">Mật khẩu cũ</label>
                <input type="password" class="form-control" id="inputOldPassword" name="oldPassword">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="form-label">Mật khẩu mới</label>
                <input type="password" class="form-control" id="inputNewPassword" name="newPassword">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="form-label">Nhập lại mật khẩu mới</label>
                <input type="password" class="form-control" id="inputNewRepassword" name="newRepassword">
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Hình thức đăng nhập</label>
                <select name="account-type" class="form-select">
                    <option value="admin" selected>Tài khoản hệ thống</option>
                    <option value="user">Tài khoản nhân viên</option>
                </select>
                <span class="form-message"></span>
            </div>
            <div class="form-btn-group">
                <button type="submit" class="form-btn">Xác nhận</button>
                {{!-- <button class="form-btn form-btn-cancel">Hủy</button> --}}
            </div>
        </form>
    </div>
</div>

<script>
    Validator({
        form: '.form-change-pass',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#inputUsername'),
            Validator.isRequired('#inputOldPassword'),
            Validator.minLength('#inputOldPassword', 6),
            Validator.isRequired('#inputNewPassword'),
            Validator.minLength('#inputNewPassword', 6),
            Validator.isRequired('#inputNewRepassword'),
            Validator.minLength('#inputNewRepassword', 6),
            Validator.isConfirmed('#inputNewRepassword', function(){
                return document.querySelector('#inputNewPassword').value;
            })
        ]
    })

</script>