* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

.standard-form {
    width: 300px;
    position: relative;
    margin: auto;
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.1s;
    background-color: white;
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr:first-child {
    border-bottom: 2px solid #4e4c4c;
}

.table tr {
    border-bottom: 1px solid #717070;
    display: flex;
}

.table tr th,
td {
    width: 120px;
    margin: 0px 4px;
    line-height: 30px;
    height: 30px;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tr th:first-child,
td:first-child {
    width: 200px;
}

.table.hidden {
    display: none;
}


@keyframes dropdown {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(100%);
    }
}

//------------ header css ----------------
@keyframes gradient {
    0% { color: red; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: green; }
    100% { color: blue; }
}
.header {
    background-color: #85b249c2;
    padding: 10px 40px 10px;
    border: 1px solid rgb(0, 0, 0);
}
.gradient-text {
    animation: gradient 5s linear infinite;
}


.container {
    width: 100%;
    display: block;
}

.header-title {
    color: rgb(113, 12, 12);
    font-size: 2rem;
    line-height: 30px;
}


.nav-list {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-item-link {
    font-size: 1.8rem;
    text-decoration: none;
    margin: auto 4px;
}

.nav-item:first-child .nav-item-link {
    font-size: 1.8rem;
    margin-right: 16px;
    color: black
}

.nav-item-link i {
    font-size: 1.4rem;
}

.nav-item-search {
    position: relative;
    background-color: white;
    display: block;
    height: 30px;
    border-radius: 15px;
    padding-left: 8px;
    overflow: hidden;
}

.nav-item-search-input {
    height: 30px;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.nav-item-search i {
    position: absolute;
    font-size: 1.6rem;
    top: 6px;
    right: 8px
}

// -------------- Sidebar --------------
.sidebar {
    background-color: #a7af62b3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border-right: 1px solid black; 
}

.user {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.user-information {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.user-avatar {
    margin-right: 20px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

.user-text {
    display: flex;
    flex-direction: column;
}

.change-avatar {
    cursor: pointer;
}

.change-avatar i {
    font-size: 1.4rem;
    color: black;
}

.user-name {
    font-size: 1.6rem;
    line-height: 20px; }
  .user-name-label{
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 20px;
  }
  .user-postion {
    font-size: 1.6rem;
    line-height: 20px; }
  .user-postion-label{
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 20px;
  }
  .user-department {
    font-size: 1.6rem;
    line-height: 20px; }
  .user-department-label{
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 20px;
  }

.user-page {
    font-size: 1.6rem;
    line-height: 20px;
    margin: 4px;
}

.user-page i {
    font-size: 1.4rem;
    color: black;
}

.user-logout {
    margin: 4px;
    font-size: 1.6rem;
    line-height: 20px;
}

.user-logout i {
    font-size: 1.4rem;
    color: black;
}

#logout-checkbox:checked~.modal {
    display: block;
}

.user-message {
    font-size: 1.6rem;
    line-height: 20px;
    margin: 4px;
}

.user-message i {
    font-size: 1.4rem;
    color: black;
}
@keyframes ring {
    0% { transform: rotate(0); }
    10% { transform: rotate(30deg); }
    20% { transform: rotate(-28deg); }
    30% { transform: rotate(34deg); }
    40% { transform: rotate(-32deg); }
    50% { transform: rotate(30deg); }
    60% { transform: rotate(-28deg); }
    70% { transform: rotate(26deg); }
    80% { transform: rotate(-20deg); }
    90% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}
.user-notification {
    font-size: 1.6rem;
    line-height: 20px;
    margin: 4px
    
}


.user-notification i {
    font-size: 1.6rem;
    color: black;
    animation: ring 2s linear infinite;
}

.category {
    overflow: hidden;
}

.category-article-title {
    line-height: 40px;
    font-size: 1.6rem;
    display: block;
    background-color: #a1a7ce96;
    color: black;
    padding-left: 20px;
    border-bottom: 0.5px solid black;
    border-top:0.5px solid black;
}

.category-article-list {
    display: none;
}

.category-article-item {
    background-color: #af8d62;
    height: 40px;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: black;
    font-size: 1.8rem;
    line-height: 40px;
    padding-left: 40px;
    text-decoration: none;
    display: block;
}

.category-share-list {
    background-color: rgb(34, 168, 198);
    display: flex;
    flex-direction: column;
    display: none;
}

#checkbox:checked~.category-share-list {
    display: block;
}

.category-share-list a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    line-height: 30px;
    padding-left: 60px;
    display: block;
    width: 100%;
    height: 100%
}

.category-share-list a:hover {
    background-color: rgb(23, 136, 159);
    cursor: pointer;
}

.category-article-item:hover {
    background-color: #5f72b7;
    cursor: pointer;
}

.category-article-item:last-child {
    border: none;
}

.checkbox {
    display: none;
}
//hover for checkbox
.checkbox:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.category-article .checkbox:checked~.category-article-list {
    display: block;
}

// --------- Content -----------

// --- Action bar
.action-bar {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: #ccc;
}

.checkbox-group {
    display: block;
    margin-right: auto;
    margin-left: 10px;
}

.checkbox-group label {
    font-size: 1.6rem;
}

.action-btn {
    height: 30px;
    margin: 4px;
    padding: 0px 8px;
}

// --- Filter bar 
.filter-bar {
    display: flex;
    align-items: center;
    background-color: #eee;
}

.filter-select {
    height: 30px;
    font-size: 1.4rem;
    margin: 0px 4px;
    max-width: 150px;
}

.filter-select:last-child {
    margin-right: auto;
}

.find-input {
    height: 30px;
    font-size: 1.4rem;
    margin: 0px 4px;
    max-width: 150px;
    min-width: 0px;
}

// --- Upload file form
.upload-file-form.standard-form {
    width: 600px;
    padding: 0;
    position: relative;
}

.form-quit {
    position: absolute;
    font-size: 1.8rem;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: 0px;
    right: 0px;
}

.form-quit:hover {
    background-color: #c6c5c5;
}

.form-header {
    text-align: center;
    line-height: 30px;
    font-size: 1.8rem;
    border-bottom: 3px solid #bccacd; }
  
  .drop-container {
    border: 3px dashed gray;
    height: 100px;
    margin: 15px 20px;
    font-size: 2.4rem;
    text-align: center;
    color: #d11f1f;
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

#upload-file-input {
    display: none;
}

.custom-action-label {
    margin: 4px;
    padding: 0px 8px;
    font-size: 1.4rem;
    font-family: Arial;
    font-weight : bold;
    line-height: 30px;
    height: 30px;
    background-color: #dcd98e87;
    border: 1px solid #202020;
    border-radius: 2px;
    color: black; 
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .custom-action-label:hover {
    background-color: #e4e2e2;
    cursor: pointer; 
    transform: scale(1.1);
  }
  .action-btn.submit-upload-btn{
    background-color: #dcd98e87;
    color: black;
    border: 1px solid #202020;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 30px;
    height: 30px;
    padding: 0px 8px;
    margin: 4px;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  .action-btn.submit-upload-btn:hover{
    background-color: #e4e2e2;
    cursor: pointer;
    transform: scale(1.1);
  }

.preview-iframe {
    width: 100%;
    height: 100vh
}