* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

.standard-form {
    width: 300px;
    position: relative;
    margin: auto;
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.1s;
    background-color: white;
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr:first-child {
    border-bottom: 2px solid #4e4c4c;
}

.table tr {
    border-bottom: 1px solid #717070;
    display: flex;
}

.table tr th,
td {
    width: 120px;
    margin: 0px 4px;
    line-height: 30px;
    height: 30px;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tr th:first-child,
td:first-child {
    width: 200px;
}

.table.hidden {
    display: none;
}

@keyframes dropdown {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(100%);
    }
}

.header {
    background-color: #85b249c2;
    padding: 10px 40px 10px;
    border: 1px solid black;
}

.container {
    width: 100%;
    display: block;
}

.header-title {
    color: #710c0c;
    font-size: 2rem;
    line-height: 30px;
}

@keyframes gradient {
    0% {
        color: rgb(171, 83, 83);
    }

    25% {
        color: rgb(99, 178, 210);
    }

    50% {
        color: rgb(180, 180, 86);
    }

    75% {
        color: green;
    }

    100% {
        color: blue;
    }
}

.gradient-text {
    animation: gradient 5s linear infinite;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-item-link {
    font-size: 1.8rem;
    text-decoration: none;
    margin: auto 4px;
}

.nav-item:first-child .nav-item-link {
    font-size: 1.8rem;
    margin-right: 16px;
    color: black;
}

.nav-item-link i {
    font-size: 1.4rem;
}

.nav-item-search {
    position: relative;
    background-color: white;
    display: block;
    height: 30px;
    border-radius: 15px;
    padding-left: 8px;
    overflow: hidden;
}

.nav-item-search-input {
    height: 30px;
    border: none;
    outline: none;
    font-size: 1.6rem;
}

.nav-item-search i {
    position: absolute;
    font-size: 1.6rem;
    top: 6px;
    right: 8px;
}

.sidebar {
    background-color: #a7af62b3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    border-right: 1px solid black;
}

.user {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}

.user.info {
    padding: 10px;
    margin: 12px;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #22ba617d;
}

.user-information {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.user-avatar {

    margin-right: 20px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user-text {
    display: flex;
    flex-direction: column;
}

.change-avatar {
    cursor: pointer;
}

.change-avatar i {
    font-size: 1.4rem;
    color: black;
}

.user-name {
    font-size: 1.6rem;
    line-height: 20px;
}

.user-name-label {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 20px;
    color: blue;
}

.user-postion {
    font-size: 1.6rem;
    line-height: 20px;
}

.user-postion-label {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 20px;
    color: blue;
}

.user-department {
    font-size: 1.6rem;
    line-height: 20px;
}

.user-department-label {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 20px;
    color: blue;
}

.user-page {
    font-size: 1.6rem;
    line-height: 20px;
    margin: 4px;
}

.user-page i {
    font-size: 1.4rem;
    color: black;
}

.user-logout {
    margin: 4px;
    font-size: 1.6rem;
    line-height: 20px;
}

.user-logout i {
    font-size: 1.4rem;
    color: black;
}

#logout-checkbox:checked~.modal {
    display: block;
}

.user-message {
    font-size: 1.6rem;
    line-height: 20px;
    margin: 4px;
}

.user-message i {
    font-size: 1.4rem;
    color: black;
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(-28deg);
    }

    30% {
        transform: rotate(34deg);
    }

    40% {
        transform: rotate(-32deg);
    }

    50% {
        transform: rotate(30deg);
    }

    60% {
        transform: rotate(-28deg);
    }

    70% {
        transform: rotate(26deg);
    }

    80% {
        transform: rotate(-20deg);
    }

    90% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.user-notification {
    font-size: 1.6rem;
    line-height: 20px;
    margin: 4px;
}

.grid {
    background-color: #d4e4cc;
}

.col.l-3.m-3.c-4 {
    border: 1px solid black;
    border-top: 0;
}

.user-notification i {
    font-size: 1.6rem;
    color: black;
    animation: ring 2s linear infinite;
}

.category {
    overflow: hidden;
}

.category-article-title {
    line-height: 40px;
    font-size: 1.6rem;
    display: block;
    background-color: #a1a7ce96;
    color: black;
    padding-left: 20px;
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
}

.category-article-title:hover {
    background-color: #2219d8ab;
    cursor: pointer;
}

.category-article-list {
    display: none;
}

.category-article-item {
    background-color: #af8d62;
    height: 40px;
    border-bottom: 2px solid black;
    color: black;
    font-size: 1.8rem;
    line-height: 40px;
    padding-left: 40px;
    text-decoration: none;
    display: block;
}

.category-share-list {
    background-color: #22a8c6;
    display: flex;
    flex-direction: column;
    display: none;
}

#checkbox:checked~.category-share-list {
    display: block;
}

.category-share-list a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    line-height: 30px;
    padding-left: 60px;
    display: block;
    width: 100%;
    height: 100%;
}

.category-share-list a:hover {
    background-color: #17889f;
    cursor: pointer;
}

.category-article-item:hover {
    background-color: #5f72b7;
    cursor: pointer;
}

.category-article-item:last-child {
    border: none;
}

.checkbox {
    display: none;
}

.checkbox-group:hover {
    cursor: pointer;
    color: rgb(129, 48, 48);
}

.category-article .checkbox:checked~.category-article-list {
    display: block;
}

.action-bar {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: #ccc;
}

.action-bar.title {
    font-size: 1.6rem;
    color: blue;
    padding-left: 30px;
}

.checkbox-group {
    display: block;
    margin-right: auto;
    margin-left: 10px;
}

.checkbox-group label {
    font-size: 1.6rem;
}

.action-btn {
    height: 30px;
    margin: 4px;
    padding: 0px 8px;
}

.filter-bar {
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 0 4px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    margin: 4px 4px;
}

.filter-label {
    font-size: 1.2rem;
    margin: 2px 2px 0;
}

.filter-select {
    height: 24px;
    font-size: 1.4rem;
    margin: 0px 4px;
    max-width: 100px;
}

.find-input {
    height: 24px;
    font-size: 1.4rem;
    margin: 0px 4px;
    max-width: 150px;
    min-width: 90px;
}

.find-input#search {
    height: 30px;
    font-size: 1.4rem;
    margin-left: auto;
    max-width: 150px;
    min-width: 0px;
    padding: 5px;
}

.upload-file-form {
    width: 600px;
    padding: 0;
    position: relative;
    margin: auto;
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.1s;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.form-quit {
    position: absolute;
    font-size: 1.8rem;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: 0px;
    right: 0px;
}

.form-quit:hover {
    background-color: #c6c5c5;
}

.form-header {
    text-align: center;
    line-height: 30px;
    font-size: 1.8rem;
    border-bottom: 3px solid #bccacd;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.drop-container {
    border: 3px dashed gray;
    height: 100px;
    margin: 15px 20px;
    font-size: 2.4rem;
    text-align: center;
    color: #d11f1f;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-file-input {
    display: none;
}

.custom-action-label {
    margin: 4px;
    padding: 0px 8px;
    font-size: 1.4rem;
    font-family: Arial;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    background-color: #dcd98e87;
    border: 1px solid #202020;
    border-radius: 2px;
    color: black;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.custom-action-label:hover {
    background-color: #e4e2e2;
    cursor: pointer;
    transform: scale(1.1);
}

.action-btn.submit-upload-btn {
    background-color: #dcd98e87;
    color: black;
    border: 1px solid #202020;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 30px;
    height: 30px;
    padding: 0px 8px;
    margin: 4px;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.action-btn.submit-upload-btn:hover {
    background-color: #e4e2e2;
    cursor: pointer;
    transform: scale(1.1);
}

.preview-iframe {
    width: 100%;
    height: 100vh;
}